<% get_recent_projects.each do |p| %>
  <li>
    <%= link_to text_with_icon("standart_godzilla.png", 16, p.name), project_issues_path(p) unless p.id == current_project.id%>
  </li>
<% end if get_recent_issues %>