//issue-list===========================
.issue-list
  margin-top: 20px
  .issue-box
    border: 1px solid #ccc
    margin-top: -1px
    height: 60px
    .issue-type-priority-pics
      display: inline-block
      margin-left: 10px
      margin-right: 10px
    .issue-data-brief
      display: inline-block
      .issue-data-row
        height: 30px
        width: auto
    .issue-estimate-time
      background: #ccc
      height: 19px
      width: 30px
      border-radius: 22px
      padding: 2px 5px 5px 3px
      text-align: center
      font-size: 12px
      font-weight: bold
      margin: 5px

//issue-form===========================

.form-body
  .issue-setup-fields
    border-bottom: 1px #ccc solid
    margin-bottom: 20px
    .issue-form-project, .issue-form-type
      &:after
        color: #BE0400
        content: "*"
  .issue-content-fields
    .issue-form-summary
      &:after
        color: #BE0400
        content: "*"

//issue-show===========================
.command-bar
  background-color: #fff
  margin: 0
  padding-top: 10px
  padding-left: 10px
  height: 35px
  display: inline-block
  white-space: nowrap
  ul
    padding-left: 10px !important
    list-style-type: none
    display: inline-block
    li
      display: inline
  .block
    li
      padding: -10px !important
      .btn
        margin-right: -5px
    #btn1-btn
      border-bottom-right-radius: 0px
      border-top-right-radius: 0px
    #btn2-btn
      border-radius: 0px
    #btn3-btn
      border-bottom-left-radius: 0px
      border-top-left-radius: 0px

.issue-body
  display: table
  box-sizing: border-box
  border-spacing: 0
  table-layout: fixed
  width: 100%
  margin: 10px 0 0 0
  padding: 10px 20px 20px
  .issue-main-column
    box-sizing: border-box
    display: table-cell
    margin: 0
    vertical-align: top
    .issue-details-module
      .issue-details-heading
        border-bottom: 1px solid #ccc
        margin-right: 20px
      .issue-details-content
        margin-top: 20px
        table
          margin-left: 10px
          tr
            height: 25px !important
    .issue-description-module
      .issue-description-heading
        border-bottom: 1px solid #ccc
        margin-right: 20px
      .issue-description-content
        margin-top: 20px
        margin-left: 10px
  .issue-side-column
    width: 35%
    padding-left: 30px
    box-sizing: border-box
    display: table-cell
    margin: 0
    vertical-align: top
    .issue-people-module
      .issue-people-heading
        border-bottom: 1px solid #ccc