.form-header
  border-bottom: 1px #ccc solid
  background: #f5f5f5
  padding: 15px 20px
  height: 56px
  margin: 0
  border-radius: 5px
  h2
    color: #333
    font-weight: normal
    font-size: 20px
    line-height: 1.5
    margin: 0
    overflow: hidden
    padding: 0
    text-overflow: ellipsis
    white-space: nowrap

.form-content
  padding-top: 30px

.form-label
  height: 34px
  text-align: right
  padding-top: 6px

.issue-setup-fields
  border-bottom: 1px #ccc solid
  margin-bottom: 20px

.form-footer
  border-top: 1px #ccc solid
  background: #f5f5f5
  padding: 15px 20px
  height: 67px
  margin: 0
  border-radius: 5px