//project-form===========================
.projects-box
  display: flex
  margin-top: -1px
  min-height: 300px
  .project-types-categories
    width: 250px
    border: 1px solid #ccc
    .project-types
      padding-top: 10px
      border-bottom: 1px solid #ccc
      ul
        list-style-type: none
        a:link
          text-decoration: none
          color: black
        a:visited
          color: black
        li
          h5
            color: #707070
            font-size: 12px
            font-weight: bold
            line-height: 1.66666667
            text-transform: uppercase
            margin-left: -10px
          strong
            color: black
    .project-categories
      padding-top: 10px
  .project-list
    flex: 1
    border: 1px solid #ccc
    margin-left: -1px

//project-form===========================
.project-form-name
  &:after
    color: #BE0400
    content: "*"